body {
  padding: 0;
  margin: 0;
  background: #ff59d8;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, red 0%, pink 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, red 0%, pink 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, red 0%, pink 100%);
}

h1{
display: block;
float: left;
position: fixed;
min-width: 200px;
width: 500px;
margin-right: 220px;
margin-left: 220px;
color: blue;
background-color: aqua;
opacity: 0.4;
left: 50%;
font-family: Georgia;
}

p{
margin-top: 500px;
font-family: helvetica;
font-size: 40px;
text-align: center;
}

image{
min-width: 100px;
width: 50%;
float: right;
position: fixed;
margin-top: 100px;
margin-left: auto;
margin-right: auto;
border-radius: 30px;
left: 50%;
}

table{
background-color: pink;
margin-top: 600px;
position:relative; 
width: 200px;
max-width: 500px;
border: 1px;
font-size: 34px;
left: 50%;
}

tr {
  background: orange;
  border-bottom: 1px solid #FFF;
  margin-bottom: 5px;
}

body{
background-color: red;
}

a.button {
    background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

form, label{
font-family: Monaco;
}

.midground {
  background-color: hsla(225, 100%, 25%, 0.4);
}

.foreground {
  background-color: hsla(325, 50%, 50%, 0.6);
}

.midground, .foreground {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  margin: 15vh 0 0 15vw;
  padding: 0;
  width: 35vw;
  height: 59vh;
}